@model ArisCorpWeb.Models.Alienrassen

@{
    ViewData["Title"] = "VerseExkurs Alienrasse: " + Model.Rasse;
    ViewData["BackC"] = "VerseExkurs";
    ViewData["BackA"] = "Alienrasse";
    ViewData["BackF"] = "";
}

<div id="EXCURS" class='large-margin'>
    <a href="EXCURS"></a><!-- Nav Anchor -->
    <div class="row heading tiny-margin">
        <div class="col-md-auto">
            <h1 class="animation-element slide-down">ALIENRASSE: <span class="coloredaris">@Html.DisplayFor(model => model.Rasse)</span></h1>
        </div>
        <div class="col">
            <hr class="animation-element extend">
        </div>
    </div>
    <div class="row medium-margin tab-manifesto">
        <div class="col-md-11">
            <img src="@Html.DisplayFor(model => model.Picture1)" alt="@Html.DisplayFor(model => model.Rasse) Bild 1" width="100%">
            <h2 class="short-hr-left">Excurs - Alienrasse: @Html.DisplayFor(model => model.Rasse)</h2>

            <div class="nasa">

                <span>@Html.DisplayFor(model => model.Content1)</span>

                <img src="@Html.DisplayFor(model => model.Picture2)" alt="@Html.DisplayFor(model => model.Rasse) Bild 2" width="100%">

                <span>@Html.DisplayFor(model => model.Content2)</span>

                <span>@Html.DisplayFor(model => model.Content3)</span>

                <span>@Html.DisplayFor(model => model.Content4)</span>

                <span>@Html.DisplayFor(model => model.Content5)</span>

                <span>@Html.DisplayFor(model => model.Content6)</span>

                <span>@Html.DisplayFor(model => model.Content7)</span>

                <span>@Html.DisplayFor(model => model.Content8)</span>

                <span>@Html.DisplayFor(model => model.Content9)</span>

                <img src="@Html.DisplayFor(model => model.Picture3)" alt="@Html.DisplayFor(model => model.Rasse) Bild 2" width="100%">

                <span>@Html.DisplayFor(model => model.Content10)</span>

                <span>@Html.DisplayFor(model => model.Content11)</span>

                <img src="@Html.DisplayFor(model => model.Picture4)" alt="@Html.DisplayFor(model => model.Rasse) Bild 2" width="100%">

                <span>@Html.DisplayFor(model => model.Content12)</span>

                <span>@Html.DisplayFor(model => model.Content13)</span>

                <span>@Html.DisplayFor(model => model.Content14)</span>

                <span>@Html.DisplayFor(model => model.Content15)</span>

                <span>@Html.DisplayFor(model => model.Content16)</span>
            </div>
        </div>
    </div>
</div>
<style>
    .diplomatie-rasse {
        font-style: oblique;
        width: 115px;
    }
    @@font-face {
      font-family: 'Banu-reg';
      src: url('/assets/fonts/Banu-Regular.otf');
    }
    @@font-face {
        font-family: 'XiAn-reg';
        src: url('/assets/fonts/xiinthlea-Regular.otf');
    }
</style>
<script>
    $(document).ready(function () {
        $("button").click(function () {
            $(".nasa").toggleClass("@Html.DisplayFor(model => model.Rasse)");
        });
    });
</script>