@model ArisCorpWeb.Models.Alienrassen

@{
    ViewData["Title"] = "Delete";
    Layout = null;
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Alienrasse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rasse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rasse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PictureEinleitung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PictureEinleitung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PictureGeschichte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PictureGeschichte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PictureHeimatwelt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PictureHeimatwelt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PicturePolitik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PicturePolitik)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PictureDiplomatie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PictureDiplomatie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PictureSprache)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PictureSprache)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PictureReligion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PictureReligion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PictureMilitar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PictureMilitar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PictureKriminalitat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PictureKriminalitat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PictureKultur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PictureKultur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PictureBesuch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PictureBesuch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PictureSicherheit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PictureSicherheit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Einleitung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Einleitung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Geschichte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Geschichte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Heimatwelt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Heimatwelt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Politik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Politik)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diplomatie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diplomatie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sprache)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sprache)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Religion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Religion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Militar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Militar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kriminalitat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kriminalitat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kultur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kultur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Besuch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Besuch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sicherheit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sicherheit)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
