@model IEnumerable<ArisCorpWeb.Models.Alienrassen>

@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rasse)
            </th>
            <td>
                @Html.DisplayNameFor(model => model.PictureEinleitung)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.PictureGeschichte)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.PictureHeimatwelt)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.PicturePolitik)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.PictureDiplomatie)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.PictureSprache)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.PictureReligion)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.PictureMilitar)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.PictureKriminalitat)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.PictureKultur)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.PictureBesuch)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.PictureSicherheit)
            </td>
            <th>
                @Html.DisplayNameFor(model => model.Einleitung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Geschichte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Heimatwelt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Politik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diplomatie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sprache)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Religion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Militar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kriminalitat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kultur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Besuch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sicherheit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rasse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PictureEinleitung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PictureGeschichte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PictureHeimatwelt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PicturePolitik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PictureDiplomatie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PictureSprache)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PictureReligion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PictureMilitar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PictureKriminalitat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PictureKultur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PictureBesuch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PictureSicherheit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Einleitung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Geschichte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Heimatwelt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Politik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diplomatie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sprache)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Religion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Militar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kriminalitat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kultur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Besuch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sicherheit)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
