@model IEnumerable<MemberAPI>

@{
    ViewData["BackC"] = "Home";
    ViewData["BackA"] = "Index";
    ViewData["BackF"] = "tabs";
}

@foreach (var api in Model)
{
    string title = api.member_titel;
    ViewData["Title"] = "Biografie: " + api.member_titel;

    <div class="large-margin"></div>
    <div id="bio" class='large-margin'>
        <div class="row heading tiny-margin">
            <div class="col-md-auto">
                <h1 class="animation-element slide-down">BIOGRAFIE: <span class="coloredaris"> @Html.DisplayFor(model => api.member_titel)</span></h1>
            </div>
            <div class="col">
                <hr class="animation-element extend">
            </div>
        </div>
        <div class="row medium-margin">
            <div class="col-md-11">
                <h2 class="short-hr-left">Bio von  @Html.DisplayFor(model => api.member_titel)</h2>
                @if (api.member_potrait == null)
                {
                    <img src="//cms.ariscorp.de/assets/0b7eafde-0933-4d1a-a32f-b4f8dd5bb492" class="img-fluid b-lazy" alt="Potrait (Unbekannt) von @Html.DisplayFor(modelItem => api.member_titel)" style="float: right;">
                }
                else
                {
                    <img src="//cms.ariscorp.de/assets/@api.member_potrait" class="img-fluid b-lazy" alt="Potrait von @Html.DisplayFor(modelItem => api.member_titel)" style="float: right;">
                }

                <div id="steckbrief">
                    @Html.Raw(api.member_steckbrief)
                </div>

                <br />
                <br />

                <div id="biografie">
                    @if (api.member_biografie != null)
                    {
                        @Html.Raw(api.member_biografie);
                    }
                    else
                    {
                        <p>Bio unbekannt.</p>
                    }
                </div>
            </div>
        </div>
    </div>
}