@model ArisCorpWeb.Models.Biografien

@{
    ViewData["Title"] = "Biografie: " + Model.Mitglied;
    ViewData["BackC"] = "Home";
    ViewData["BackA"] = "Index";
    ViewData["BackF"] = "tabs";
}
<div class="large-margin"></div>
<div id="bio" class='large-margin'>
    <div class="row heading tiny-margin">
        <div class="col-md-auto">
            <h1 class="animation-element slide-down">BIOGRAFIE: <span class="coloredaris">@Html.DisplayFor(model => model.Mitglied)</span></h1>
        </div>
        <div class="col">
            <hr class="animation-element extend">
        </div>
    </div>
    <div class="row medium-margin">
        <div class="col-md-11">
            <h2 class="short-hr-left">Bio von @Html.DisplayFor(model => model.Titel)</h2>
            <img src="/assets/img/member/@Html.DisplayFor(model => model.Id)@Html.Raw(".webp")" data-src="/assets/img/member/@Html.DisplayFor(model => model.Id)@Html.Raw(".webp")" onerror="this.onerror = null; this.src='/assets/img/member/Placeholder.webp'" class="img-fluid b-lazy" alt="Potrait von @Html.DisplayFor(model => model.Titel)" style="float: right;">

            <div style="font-size: 75%;">
                <span>@Html.DisplayFor(model => model.Steckbrief)</span>
            </div>
            <div>
                <span>@Html.DisplayFor(model => model.Bio)</span>

                <span>@Html.DisplayFor(model => model.Zusatz)</span>
            </div>
        </div>
    </div>
</div>