@model ArisCorpWeb.Models.Technologien

@{
    ViewData["Title"] = "Technologie: " + Model.Technologie;
    ViewData["BackAR"] = "VerseExkurs";
    ViewData["BackC"] = "Home";
    ViewData["BackA"] = "Index";
}

<div id="EXCURS" class='large-margin'>
    <a href="EXCURS"></a><!-- Nav Anchor -->
    <div class="row heading tiny-margin">
        <div class="col-md-auto">
            <h1 class="animation-element slide-down">TECHNOLOGIE: <span class="coloredaris">@Html.DisplayFor(model => model.Technologie)</span></h1>
        </div>
        <div class="col">
            <hr class="animation-element extend">
        </div>
    </div>
    <div class="row medium-margin tab-manifesto">
        <div class="col-md-11">
            @Html.DisplayFor(model => model.PictureEinleitung)
            <h2 class="short-hr-left">Exkurs - Technologie: @Html.DisplayFor(model => model.Technologie)</h2>

                <span>@Html.DisplayFor(model => model.Einleitung)</span>


                @Html.DisplayFor(model => model.PictureContent1)

                <span>@Html.DisplayFor(model => model.Content1)</span>


                @Html.DisplayFor(model => model.PictureContent2)

                <span>@Html.DisplayFor(model => model.Content2)</span>


                @Html.DisplayFor(model => model.PictureContent3)

                <span>@Html.DisplayFor(model => model.Content3)</span>


                @Html.DisplayFor(model => model.PictureContent4)

                <span>@Html.DisplayFor(model => model.Content4)</span>


                @Html.DisplayFor(model => model.PictureContent5)

                <span>@Html.DisplayFor(model => model.Content5)</span>


                @Html.DisplayFor(model => model.PictureContent6)

                <span>@Html.DisplayFor(model => model.Content6)</span>


                @Html.DisplayFor(model => model.PictureContent7)

                <span>@Html.DisplayFor(model => model.Content7)</span>


                @Html.DisplayFor(model => model.PictureContent8)

                <span>@Html.DisplayFor(model => model.Content8)</span>


                @Html.DisplayFor(model => model.PictureContent9)

                <span>@Html.DisplayFor(model => model.Content9)</span>


                @Html.DisplayFor(model => model.PictureContent10)

                <span>@Html.DisplayFor(model => model.Content10)</span>


                @Html.DisplayFor(model => model.PictureContent11)

                <span>@Html.DisplayFor(model => model.Content11)</span>


                @Html.DisplayFor(model => model.PictureContent12)

                <span>@Html.DisplayFor(model => model.Content12)</span>


                @Html.DisplayFor(model => model.PictureContent13)

                <span>@Html.DisplayFor(model => model.Content13)</span>


                @Html.DisplayFor(model => model.PictureContent14)

                <span>@Html.DisplayFor(model => model.Content14)</span>


                @Html.DisplayFor(model => model.PictureContent15)

                <span>@Html.DisplayFor(model => model.Content15)</span>


                @Html.DisplayFor(model => model.PictureContent16)

                <span>@Html.DisplayFor(model => model.Content16)</span>


                @Html.DisplayFor(model => model.PictureContent17)

                <span>@Html.DisplayFor(model => model.Content17)</span>


                @Html.DisplayFor(model => model.PictureContent18)

                <span>@Html.DisplayFor(model => model.Content18)</span>


                @Html.DisplayFor(model => model.PictureContent19)

                <span>@Html.DisplayFor(model => model.Content19)</span>


                @Html.DisplayFor(model => model.PictureContent20)

                <span>@Html.DisplayFor(model => model.Content20)</span>
            </div>
        </div>
    </div>