@model IEnumerable<TechnologieAPI>
@{
    ViewData["Title"] = "Technologien";
    ViewData["BackAR"] = "VerseExkurs";
    ViewData["BackC"] = "Home";
    ViewData["BackA"] = "Index";
}

<h2 style="font-family: 'Nasa'; text-align: center;">Klicke einfach auf die jeweillige Komponente um sie dir näher anzuschauen.</h2>

<div class="img-gameplays-line">
    <hr class="animation-element extend">
</div>

<link rel="stylesheet" href="/assets/css/image-map-pro.min.css">

<div style="margin-top: 1.2rem"></div>
<style>
    ul li img{
        margin-block
    }
</style>

<div id="tabsContainer">
    <div id="tabsDiv">
        <ul>
            <li id="tabschiff"><h1>SCHIFFSTECHNOLOGIE</h1></li>
            <li id="tabperson"><h1>PERSONENTECHNOLOGIE</h1></li>
        </ul>
        <hr class="animation-element extend in-view">
        <div class="tabcontent">
            <div title="">
                <div id="image-map-pro-container"></div>

                <script src="/assets/js/jquery.min.js"></script>
                <script src="/assets/js/image-map-pro.min.js"></script>
                <script type="text/javascript">
                    ;(function ($, window, document, undefined) {
                        $(document).ready(function () {
                            @Html.Raw(Resources.Resources.schwerregJS)
                            });
                    })(jQuery, window, document);
                </script>
                <div class="img-gameplays-line">
                    <hr class="animation-element extend">
                </div>

                <script>
                    $.imageMapProEventHighlightedShape = function (imageMapName, shapeName) {

                        @foreach(var api in Model)
                        {
                            <text>
                                if (shapeName == '@api.technologie_name MOUNT') {

                                    $('#banner-@api.id').attr('src', '//cms.ariscorp.de/assets/@api.technologie_banner');
                                    $('.popup-@api.id-dom').css("display", "unset");
                                    $('.popup-@api.id').slideDown(400, function () { $(this).css("display", "unset") });
                                }

                            </text>
                        }
                    }

                    // When the mouse moves away from the shape, revert back to the original image
                    $.imageMapProEventUnhighlightedShape = function (imageMapName, shapeName) {

                        @foreach(var api in Model)
                        {
                            <text>
                                if (shapeName == '@api.technologie_name MOUNT') {

                                    $('.popup-@api.id').slideUp(300).css("display", "none");
                                    $('.popup-@api.id-dom').css("display", "");
                                }
                            </text>
                        }
                    }
                </script>

                @foreach (var api in Model)
                {
                    <div class="popup-@api.id-dom">
                        <div class="popup-@api.id">
                            <h1 style="align-items: center; text-align: center;">@api.technologie_name</h1>
                        </div>
                        <br />
                        <br />

                        <div class="popup-@api.id">
                            <div style="display: flex; align-items: center">
                                <img id="banner-@api.id" src="#" alt="@api.technologie_name Banner" width="50%" align="left" />

                                <p style="font-size: 150%; text-align: center;">
                                    @Html.Raw(api.technologie_beschreibung)
                                </p>
                            </div>
                            <hr />
                        </div>
                    </div>

                    <style>
                        .popup-@api.id {
                            display: none;
                        }
                        .popup-@api.id-dom {
                            display: none;
                        }
                    </style>
                }
                <div id="tech-margin" style="margin-bottom: 10rem"></div>
            </div>
        </div>
        <div class="tabcontent">
            <div title="">
                <h1 class="coloredaris">COMMING SOON</h1>
            </div>
        </div>
        </div>

        <div style="margin-bottom: 5rem"></div>
        <style>
            .slider {
                margin: 80px auto;
                position: relative;
                overflow: hidden;
            }

                .slider .left-slide, .slider .right-slide {
                    position: absolute;
                    height: 40px;
                    width: 40px;
                    background-color: rgba(68, 68, 68, 0.5);
                    border-radius: 50%;
                    color: #ffffff;
                    font-size: 20px;
                    top: 420.5px;
                    cursor: pointer;
                    margin-top: -20px;
                    text-align: center;
                    line-height: 40px;
                    user-select: none; /* supported by Chrome and Opera */
                    -webkit-user-select: none; /* Safari */
                    -khtml-user-select: none; /* Konqueror HTML */
                    -moz-user-select: none; /* Firefox */
                    -ms-user-select: none; /* Internet Explorer/Edge */
                }

                    .slider .left-slide:hover, .slider .right-slide:hover {
                        box-shadow: 0px 0px 10px black;
                        background-color: #00ffe8;
                    }

                .slider .left-slide {
                    left: 30px;
                }

                .slider .right-slide {
                    right: 30px;
                }

                .slider .slider-items .item img {
                    max-width: 100%;
                    display: block;
                    animation: zoom 1s ease;
                }

                .slider .slider-items .item {
                    display: none;
                    position: relative;
                }

                    .slider .slider-items .item .caption {
                        position: absolute;
                        width: 100%;
                        height: 60px;
                        bottom: 0px;
                        left: 0px;
                        line-height: 60px;
                        text-align: center;
                        color: #ffffff;
                        font-size: 30px;
                    }

            .caption2 {
                width: 100%;
                height: 60px;
                line-height: 60px;
                text-align: center;
                color: #ffffff;
                font-size: 30px;
            }


            .slider .slider-items .item.active {
                display: block;
            }
        </style>
<style>
    #tabsContainer {
        margin: auto;
    }

    img {
        max-width: 100%
    }
</style>
<script>
    $(".tabsection").champ();
</script>
