@model IEnumerable<ArisCorpWeb.Models.Systeme>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.System)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Extra1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Extra2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Extra3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Extra4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Extra5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture7)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture8)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture9)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture10)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content7)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content8)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content9)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content10)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content11)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content12)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content13)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content14)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content15)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content16)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content17)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content18)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content19)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content20)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content21)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content22)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content23)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content24)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content25)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content26)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content27)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content28)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content29)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content30)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reisewarunung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlusternImWind)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.System)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Extra1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Extra2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Extra3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Extra4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Extra5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Picture1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Picture2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Picture3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Picture4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Picture5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Picture6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Picture7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Picture8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Picture9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Picture10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content13)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content14)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content15)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content16)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content17)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content18)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content19)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content20)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content21)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content22)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content23)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content24)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content25)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content26)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content27)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content28)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content29)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content30)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reisewarunung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlusternImWind)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
