@model HomeAPI
@addTagHelper *, Westwind.AspNetCore.Markdown

<div id="accordionGameplays">
    @foreach (var api in Model.ariscorp_gameplays)
    {
        <div class="gameplay-img">
            <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="@Html.Raw("#collapse" + api.gameplay_name)" aria-expanded="false" aria-controls="@Html.Raw("collapse" + api.gameplay_name)">
                <img src="//cms.ariscorp.de/assets/@Html.Raw(api.gameplay_logo)" alt="Gameplay @api.gameplay_name" class="btn-img img-gameplays">
            </button>
        </div>
    }
    <hr>
    @foreach (var api in Model.ariscorp_gameplays)
    {
        <div type="button" data-bs-toggle="collapse" data-bs-target="@Html.Raw("#collapse" + api.gameplay_name)" aria-expanded="false" aria-controls="@Html.Raw("collapse" + api.gameplay_name)">
            <div id="@Html.Raw("collapse" + api.gameplay_name)" class="collapse collapse-transition" aria-labelledby="@Html.Raw("collapse")" data-bs-parent="#accordionGameplays">
                <div>
                    <h1 class="coloredaris">@api.gameplay_name.ToString().ToUpper()</h1>
                    <br />
                    <img src="//cms.ariscorp.de/assets/@Html.Raw(api.gameplay_bild_links)" alt="Gameplay: @api.gameplay_name Screenshot-1" class="gameplay-pic" style="float: left;" />
                    <img src="//cms.ariscorp.de/assets/@Html.Raw(api.gameplay_bild_rechts)" alt="Gameplay: @api.gameplay_name Screenshot-2" class="gameplay-pic" style="float: right;" />
                    <div class="card-body">
                        <markdown markdown="@api.gameplay_text" />
                        <br /><span class="font-60">*clicken zum schließen</span>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<style>
    .gameplay-pic {
        width: 49%;
    }

    .card-body {
        float: right;
    }

    .font-60 {
        font-size: 60%;
    }

    #accordionGameplays {
        cursor: pointer;
    }

    .gameplay-img {
        display: inline-block;
    }

    .img-gameplays {
        width: 140px;
    }
    .collapsing {
        height: 0;
        overflow: hidden;
    }
    .collapse-transition {
        transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
    }
    .collapsed {
        transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
    }
</style>
 <script>
    /* var $accordionGameplays = $('#accordionGameplays');
    $accordionGameplays.on('show', '.collapse', function () {
        $accordionGameplays.find('.collapse.in').collapse('hide');
    }); */
</script>
