<!DOCTYPE html>
<html lang="de">

@Html.Partial("_Head")
<body>

    @Html.Partial("_SideNav")
    <!-- /// Main Container /// -->
    <div id="fotterwrapper">
        <div class="container padding-top-5">
            @RenderBody()
        </div>
    </div>
    <!-- //// NAVBAR-STYLES //// -->
    @Html.Partial("_NavbarStyle")

    <!-- //// NAVBAR-SCRIPTS //// -->
    <!-- //// FOOTER //// -->
    @Html.Partial("_Footer")

<style>
    .padding-top-5 {
        padding-top: 5rem;
    }
</style>
    <!-- //// SCRIPTS //// -->
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/blazy.min.js"></script>
    <script src="~/assets/js/isotope.pkgd.min.js"></script>
    <script src="~/assets/js/lightbox.min.js"></script>
    <script src="~/assets/js/jquery-modal-video.min.js"></script>
    <script src="~/assets/js/validator.min.js"></script>
    <script src="~/assets/js/strider.js"></script>
    <script src="~/assets/js/gulp.js"></script>
    <script src="~/assets/js/jquery.unobtrusive-ajax.js"></script>
    <script src="~/assets/js/jquery.unobtrusive-ajax.min.js"></script>
</body>
</html> 