<!DOCTYPE html>
<html lang="de">

@Html.Partial("_Head")
<body>

    @Html.Partial("_SideNav")
    <!-- /// Main Container /// -->
    <div id="fotterwrapper">
        <div class="container padding-top-5">
            @RenderBody()
        </div>
    </div>
    <!-- //// NAVBAR-STYLES //// -->
    @Html.Partial("_NavbarStyle")

    <!-- //// NAVBAR-SCRIPTS //// -->
    <!-- //// FOOTER //// -->
    @Html.Partial("_Footer")

    <style>
        .padding-top-5 {
            padding-top: 5rem;
        }
    </style>
</body>
</html> 