<link rel="stylesheet" href="https://i.icomoon.io/public/temp/fd7b51256e/UntitledProject1/style.css">
<nav class="navbar" style="overflow: hidden">
    <ul class="navbar-nav">
        <li class="logo">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">
                <span class="link-text logo-text">ArisCorp</span>
                <svg aria-hidden="true"
                     focusable="false"
                     data-prefix="fad"
                     data-icon="angle-double-right"
                     role="img"
                     xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 448 512"
                     class="svg-inline--fa fa-angle-double-right fa-w-14 fa-5x">
                    <g class="fa-group">
                        <path fill="currentColor"
                              d="M224 273L88.37 409a23.78 23.78 0 0 1-33.8 0L32 386.36a23.94 23.94 0 0 1 0-33.89l96.13-96.37L32 159.73a23.94 23.94 0 0 1 0-33.89l22.44-22.79a23.78 23.78 0 0 1 33.8 0L223.88 239a23.94 23.94 0 0 1 .1 34z"
                              class="fa-secondary"></path>
                        <path fill="currentColor"
                              d="M415.89 273L280.34 409a23.77 23.77 0 0 1-33.79 0L224 386.26a23.94 23.94 0 0 1 0-33.89L320.11 256l-96-96.47a23.94 23.94 0 0 1 0-33.89l22.52-22.59a23.77 23.77 0 0 1 33.79 0L416 239a24 24 0 0 1-.11 34z"
                              class="fa-primary"></path>
                    </g>
                </svg>
            </a>
        </li>

        <li class="nav-item">
            <a asp-controller="Geschichte" asp-action="Index" class="nav-link">
                @Html.Raw(Resources.Resources.nav_history_svg)
                <span class="link-text">Geschichte</span>
            </a>
        </li>
        <li class="nav-item sub-uee-btn">
            <a asp-action="" class="nav-link">
                @Html.Raw(Resources.Resources.nav_uee_svg)
                <span class="link-text">UEE</span>
                <i class="fas fa-chevron-right fa-lg fa-spin-0-nota fa-rotate fa-uee" style="margin-left: 1.5rem;"></i>
            </a>
            <ul class="sub-uee-menu">
                <a asp-controller="UEE-Leben" asp-action="Index" class="nav-underlink">
                    @Html.Raw(Resources.Resources.nav_uee_sub_svg)
                    <span class="link-text">Leben im UEE</span>
                </a>
                <a asp-controller="UEE-Regierung" asp-action="Index" class="nav-underlink">
                    @Html.Raw(Resources.Resources.nav_uee_sub_svg)
                    <span class="link-text">UEE Regierung</span>
                </a>
            </ul>
        </li>

        <li class="nav-item">
            <a asp-controller="Starmap" asp-action="Index" class="nav-link">
                @Html.Raw(Resources.Resources.nav_starmap_svg)
                <span class="link-text">ARK Starmap</span>
            </a>
        </li>

        <li class="nav-item sub-alien-btn">
            <a asp-action="" class="nav-link">
                @Html.Raw(Resources.Resources.alien_logo_svg)
                <span class="link-text">Alienrassen</span>
                <i class="fas fa-chevron-right fa-lg fa-spin-0-nota fa-rotate fa-alien" style="margin-left: 1.5rem;"></i>
            </a>
            <ul class="sub-alien-menu">
                <a asp-controller="Alienrassen" asp-action="Banu" class="nav-underlink">
                    @Html.Raw(Resources.Resources.banu_head_svg)
                    <span class="link-text" style="font-family: Alien-Banu; font-size: 155%;">Banu</span>
                </a>
                <a asp-controller="Alienrassen" asp-action="Tevarin" class="nav-underlink">
                    @Html.Raw(Resources.Resources.tevarin_head_svg)
                    <span class="link-text" style="font-family: Alien-Tevarin;">Tevarin</span>
                </a>
                <a asp-controller="Alienrassen" asp-action="Vanduul" class="nav-underlink">
                    @Html.Raw(Resources.Resources.vanduul_head_svg)
                    <span class="link-text" style="font-family: Alien-Vanduul;">Vanduul</span>
                </a>

                <a asp-controller="Alienrassen" asp-action="XiAn" class="nav-underlink">
                    @Html.Raw(Resources.Resources.xian_head_svg)
                    <span class="link-text" style="font-family: Alien-XiAn;">Xi'An</span>
                </a>
                <a class="nav-underlink-placeholder">
                    <span class="link-text"></span>
                </a>
                <a asp-controller="Alienrassen" asp-action="Biestarium" class="nav-underlink">
                    @Html.Raw(Resources.Resources.biestarium_head_svg)
                    <span class="link-text" style="font-family: 'Nasa';">Biestarium</span>
                </a>
                <a asp-controller="Alienrassen" asp-action="Pflanzen" class="nav-underlink">
                    @Html.Raw(Resources.Resources.biestarium_head_svg)
                    <span class="link-text" style="font-family: 'Nasa';">Pflanzen</span>
                </a>
            </ul>
        </li>

        <li class="nav-item sub-firmen-btn">
            <a asp-action="" class="nav-link">
                @Html.Raw(Resources.Resources.nav_firma_svg)
                <span class="link-text">Firmen</span>
                <i class="fas fa-chevron-right fa-lg fa-spin-0-nota fa-rotate fa-firmen" style="margin-left: 1.5rem;"></i>
            </a>
            <ul class="sub-firmen-menu">
                <a asp-controller="Firmen" asp-action="Hersteller" class="nav-underlink">
                    <span class="arisicon-wrench" style="margin-left: 10px; color: #00ffe8;"></span>
                    <span class="link-text" >Hersteller</span>
                </a>
                <a asp-controller="Firmen" asp-action="Dienstleister" class="nav-underlink">
                    <span class="arisicon-user-tie" style="margin-left: 10px; color: #00ffe8;"></span>
                    <span class="link-text" >Dienstleister</span>
                </a>
                <a asp-controller="Firmen" asp-action="Geschäfte" class="nav-underlink">
                    <span class="arisicon-cart" style="margin-left: 10px; color: #00ffe8;"></span>
                    <span class="link-text">Geschäfte</span>
                </a>
                <a asp-controller="Firmen" asp-action="Organisationen" class="nav-underlink">
                    <span class="arisicon-tree" style="margin-left: 10px; color: #00ffe8;"></span>
                    <span class="link-text" >Organisationen</span>
                </a>
                <a asp-controller="Firmen" asp-action="Verschiedenes" class="nav-underlink">
                    <span class="arisicon-svg" style="margin-left: 10px; color: #00ffe8;"></span>
                    <span class="link-text" >Verschiedenes</span>
                </a>
            </ul>
        </li>

        <li class="nav-item">
            <a asp-controller="Technologien" asp-action="Index" class="nav-link">
                @Html.Raw(Resources.Resources.nav_tech_svg)
                <span class="link-text">Technologie</span>
            </a>
        </li>
        <li class="nav-item">
            <a asp-area="@ViewData["BackAR"]" asp-controller="@ViewData["BackC"]" asp-action="@ViewData["BackA"]" class="nav-link">
                @Html.Raw(Resources.Resources.nav_back_svg)
                <span class="link-text">Zurück</span>
            </a>
        </li>
    </ul>
</nav>