@model ArisCorpWeb.Models.HomeDB

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HomeDB</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.About)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.About)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.History)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.History)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manifest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manifest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Charter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Charter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Member)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Member)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fleet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fleet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Partner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Partner)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
