@model ArisCorpWeb.Models.HomeDB

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HomeDB</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.About)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.About)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.History)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.History)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manifest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manifest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Charter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Charter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Member)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Member)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fleet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fleet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Partner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Partner)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
