@{
    ViewData["Title"] = "Homepage";
}
@section HomeStaff {
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NPT7SK9"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Loading Screen -->
    <div id="loader-wrapper">
        <h1 class="loader-logo"><span class="colored">ARIS</span>CORP</h1>
        <div id="progress"></div>
        <h3 class="loader-text">LOADING</h3>
        <img ref="preload" class="loader-gif" style="top: 47%; left: 1.5%;" src="/assets/img/misc/aris-loading.gif">
    </div>
    <!-- End Loading Screen -->
}

@section Hero {

    <div class="row hero-unit">
        <div class="hero-overlay"></div>
        <video autoplay loop muted poster="/assets/img/poster.jpg" id="bgvid" class="img-fluid">
            <source src="/assets/img/bg-vid.mp4" type="video/mp4"><!-- your video goes here -->
        </video>
        <div class="hero-caption">
            <h1>Willkommen <span class="colored">bei der</span></h1>
            <h1><img class="img-fluid" src="/assets/img/misc/aris-banner.webp" alt="Banner"></h1>
        </div>
    </div>

}

<!-- /// ABOUT SECTION /// -->
<div id="about" style="padding-top: 60px; margin-top: -60px;"></div>
@Html.Partial("_IndexPartialAbout")

<!-- /// TABS SECTION /// -->
<div id="tabs" style="padding-top: 60px; margin-top: -60px;"></div>
@Html.Partial("_IndexPartialTabs")

<!-- /// RECRUITMENT SECTION /// -->
<div id="recruitment" style="padding-top: 60px; margin-top: -60px;"></div>
@Html.Partial("_IndexPartialRecruitment")

<!-- /// PARTNER SECTION /// -->
<div id="partner" style="padding-top: 60px; margin-top: -60px;"></div>
@Html.Partial("_IndexPartialPartner")

<!-- /// SCRIPTS /// -->
@Html.Partial("_IndexPartialScripts")